service: tele-webhook
runtime: php
env: flex

# based on https://cloud.google.com/appengine/docs/standard/lifecycle/support-schedule#php
runtime_config:
  operating_system: "ubuntu22"
  runtime_version: "8.2"
  document_root: public

# Ensure we skip ".env", which is only for local development
skip_files:
  - .env

build_env_variables:
  GOOGLE_COMPOSER_VERSION: 2.5.8

env_variables:
  # Put production environment variables here.
  APP_DEBUG: true
  APP_ENV: production
  APP_KEY: "appkey"
  APP_NAME: "app name"
  LOG_LEVEL: debug
  CACHE_DRIVER: file
  SESSION_DRIVER: file
  MONGODB_SRV : "mongodb+srv://usernam:password@host/"
  MONGODB_DATABASE : "dbname"
  TELEGRAM_WEBHOOK_SECRET: "secret"
  TELEGRAM_BOT_TOKEN: "123:abc"
  GOOGLE_PROJECT_ID: "someproject-399607"
  GOOGLE_QUEUE_NAME: "queuename"
  GOOGLE_QUEUE_LOCATION: "asia-southeast2"
  CHATGPT_KEY: "secret"
  GOOGLE_BUCKET_NAME: "xxx"
