# Following the doc in https://github.com/larastan/larastan

includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: max

    databaseMigrationsPath:
        - database/migrations

    excludePaths:
        - tests/*
        # Fatal errors due to socialite and key missing.
        - app/Http/Controllers/Admin/GoogleLoginController.php
        - app/Models/Admin.php

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    checkMissingIterableValueType: false
